aiofiles
alembic
click
httptools
import-string
itsdangerous
Mako
manage.py
MarkupSafe
mimeparse
python-dateutil
python-editor
PyYAML
sanic
sanic_cors
sanic-useragent
jinja2
git+https://github.com/gonrin/gatco.git
git+https://github.com/gonrin/gatco_auth.git
git+https://github.com/gonrin/gatco_jinja2.git
git+https://github.com/gonrin/gatco_sqlalchemy.git
git+https://github.com/gonrin/gatco_restapi.git
git+https://github.com/gonrin/gatco_acl.git
git+https://github.com/gonrin/gatco_apimanager.git
six
SQLAlchemy
ujson
uvloop
websockets
passlib
psycopg2-binary
schedule
requests
redis
plotly
pytz
aiohttp
motor
# barcode dependences
python-barcode
pillow
# international phone detect
phonenumbers
hashids
